<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
    <div>
        <input formControlName="NumberDriverLicense" placeholder="NumberDriverLicense" type="text">
    </div>
    <div>
        <input formControlName="RegistrationNumber" placeholder="RegistrationNumber" type="text">
    </div>
    <div>
        <input formControlName="StartDateHire" placeholder="StartDateHire" type="date">
    </div>
    <div>
        <input formControlName="EndDateHire" placeholder="EndDateHire" type="date">
    </div>
    <div>
        <input formControlName="Comment" placeholder="Comment" type="text">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>