<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
    <div class="form-group">
        <input class="form-control" formControlName="NumberDriverLicense" placeholder="NumberDriverLicense" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="RegistrationNumber" placeholder="RegistrationNumber" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="StartDateHire" placeholder="StartDateHire" type="date">
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="EndDateHire" placeholder="EndDateHire" type="date">
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="Comment" placeholder="Comment" type="text">
    </div>
    <div class="form-group">
        <input class="form-control bg-success" type="submit" value="Add order">
    </div>
</form>
