<table class="table table-dark">
  <thead class="thead bg-warning">
    <tr>
      <th>Number License Driver</th>
      <th>First Name</th>
      <th>Name</th>
      <th>Date Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userService.users">
      <td class="border border-warning">{{user.NumberDriverLicense}}</td>
      <td class="border border-warning">{{user.Firstname}}</td>
      <td class="border border-warning">{{user.Name}}</td>
      <td class="border border-warning">{{user.DateBirth | date:'dd.MM.yyyy'}}</td>
    </tr>
  </tbody>
</table>